{% extends 'core/base.html' %}


{% block content %}
    <h2>Jugadores por Equipo</h2>
    <h3>Lista Completa</h3>

    <table border="1">
        <thead>
            <th>Equipo</th>
            <th>Jugador</th>
        </thead>
        <tbody>
            {% for equipo_jugador in equipo_jugadores %}
                <tr>
                    <td>{{ equipo_jugador.equipo }}</td>
                    <td>{{ equipo_jugador.jugador }}</td>
                    <td> <a href="{% url 'club:equipo_jugador_editar' equipo_jugador.id %}">Editar</a> </td>
                    <td> <a href="{% url 'club:equipo_jugador_borrar' equipo_jugador.id %}">Borrar</a> </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <a href="{% url 'club:index_equipo' %}" class="btn btn-secondary">Atrás</a> 
{% endblock content %}