{% extends 'core/base.html' %}


{% block content %}
    <h2>Profesores</h2>
    <h3>Lista Completa</h3>

    <table border="1">
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Lugar de Residencia</th>
        </thead>
        <tbody>
            {% for profe in profes %}
                <tr>
                    <td>{{ profe.nombre }}</td>
                    <td>{{ profe.apellido }}</td>
                    {% if profe.nacimiento %}
                        <td>{{ profe.nacimiento }}</td>
                    {% else %}
                        <td>Sin registro</td>
                    {% endif %}
                    <td> <a href="{% url 'club:profe_editar' profe.id %}" class="btn btn-primary">Editar</a> </td>
                    <td> <a href="{% url 'club:profe_borrar' profe.id %}" class="btn btn-secondary">Borrar</a> </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
    <a href="{% url 'club:index_profe' %}" class="btn btn-secondary">Atrás</a>  
{% endblock content %}