{% extends 'core/base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
      <h1 class="display-5">Bienvenido a nuestra página</h1>
      <p class="lead">Página Web para que un club de básquet pueda organizar los grupos de jugadores dependiendo de las categorias vinculado con su respectivo profesor.</p>

      <h5>Nuestro Equipo</h5>
      <ul class="list-group">
        <li class="list-group-item">Facundo Gonzalez</li>
        <li class="list-group-item">Diana Gonzalez</li>
      </ul>
    </div>
  </div>
{% endblock content %}