{% extends 'core/base.html' %}

{% block title %}
    Coderhouse | Registrarse
{% endblock title %}
    

{% block content %}

<div class="container">
    <h2 class="mt-4">Registrarse</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'core:index' %}">

        <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        <a href="{% url 'core:index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>


{% endblock %}